LogOn false
LogFileThresholdLength 102400
LogFileFolder
UDPLocal 127.0.0.1:1053
TCPGroup 1.1.1.1 * no
BlockIP 243.185.187.39,46.82.174.68,37.61.54.158,93.46.8.89,59.24.3.173,203.98.7.65,8.7.198.45,78.16.49.15,159.106.121.75
#GroupFile /storage/emulated/0/htdocs/Shadowsocks/china.txt
IPSubstituting
BlockNegativeResponse true
Hosts file:///storage/emulated/0/htdocs/Shadowsocks/hosts
HostsUpdateInterval 18000
HostsDownloadPath tmp_hosts
HostsRetryInterval 30
UseCache true
CacheSize 1024000
MemoryCache false
CacheFile dns_cache
IgnoreTTL false
OverrideTTL -1
MultipleTTL 1
ReloadCache true
OverwriteCache true
DisabledType
DisabledDomain
DisabledList
DomainStatistic true
DomainStatisticTempletFile /storage/emulated/0/htdocs/Shadowsocks/StatisticTemplate.html
StatisticUpdateInterval 30
